/**
 * This work is licensed under a Creative Commons Attribution 4.0 International License.
 * http://creativecommons.org/licenses/by/4.0/
 *
 * A dark theme for crates.io.
 */
@-moz-document domain(crates.io) {
  html {
    background: #222; }
  #main {
    color: #ddd;
    background-color: #333; }
  #header input.search, #mobile-search input.search {
    color: #ccc9c9;
    background-color: #4a4a4a;
    background-image: none; }
  ul.dropdown {
    background: #242424;
    border-color: #66655f; }
    ul.dropdown li a {
      color: #d0cdcd !important; }
      ul.dropdown li a:hover {
        background-color: #313131; }
  a.arrow svg, .arrow-in-list svg {
    background: transparent; }
  ._pagination_4qvbew a.active, ._pagination_4qvbew a:hover {
    background-color: #515151; }
  ._pagination_4qvbew a.active {
    color: #ddd; }
  .crate-lists li a {
    color: #f9f9f9;
    background-color: #404040;
    border-radius: 0.5em; }
    .crate-lists li a:hover {
      background-color: #4d4d4d; }
  .yellow-button {
    background: #fdc452;
    color: #383838; }
    .yellow-button:hover {
      background: #fdc452;
      color: #007940; }
  #crates-heading, .crate-info .install {
    background-color: #404040; }
    #crates-heading h2, .crate-info .install h2 {
      color: #aaa; }
  .crate-toml-copy button, .crate-toml-copy button:active {
    background-color: #bfbfbf; }
    .crate-toml-copy button:hover, .crate-toml-copy button:active:hover {
      background-color: #cccccc; }
  .crate-info .crate-readme p code {
    background-color: #242424; }
  .white-rows {
    background-color: #404040; }
    .white-rows .row {
      border-bottom: 2px solid #646464; }
  .yanked {
    color: #d75959; }
  #results a.dropdown {
    background-color: #404040; }
  #results .cur, #results .total {
    color: #fff; }
  #selection {
    background-color: #404040; }
    #selection a.active, #selection a:hover {
      background-color: #666666; }
  .crate .info a, .crate .stats, span.small {
    color: #ddd; } }
